
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f4f4f4;
    color: #5202ff;
    line-height: 1.6;
}

header {
    background: #0099ff;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

nav {
    background: #ff0077;
    padding: 10px 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    background-color: aqua;
    border-radius: 5px;
    font-weight: 500;
    padding: 10px 15px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #1abc9c;
    border-radius: 5px;
}

main {
    width: 80%;
    margin: auto;
    padding: 20px 0;
}

section {
    background: #fff;
    padding: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #2c3e50;
    margin-bottom: 15px;
    text-align: center;
}

footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}

@media (max-width: 768px) {
    main {
        width: 95%;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    section {
        padding: 20px;
    }
}
